In [0]:
data = [('James', 'Smith', 'M', 3000), ('Anna', 'Rose', 'F', 4100), ('Robert', 'Williams', 'M', 6200)]
rdd = sc.parallelize(data)

schema = ['first_name', 'last_name', 'gender', 'salary']
df = rdd.toDF(schema)
display(df)

df1 = spark.createDataFrame(rdd, schema)
display(df1)